body[data-theme="dark"] {

    --primary: #3b86ff;

    --bg-color : black;
    --text-color : white;

    --header-bg:black;
    --header-color:white;
    --header-text-color: white;

    --sidebar-bg: red;
    --sidebar-color:black;
    --sidebar-text-color: black;

    --themes-section-text-color: black;
}