body[data-theme="light"] {

    --primary: #3b86ff;

    --bg-color : white;
    --text-color : black;

    --header-bg: white;
    --header-color:black;
    --header-text-color: black;
    
    --sidebar-bg:#fbd232;
    --sidebar-color:black;
    --sidebar-text-color: black;

    --themes-section-text-color: black;
}