<div class="sidebar-container">
    <div class="logo-container">
        <img class="logo" src="assets/angular_logo.svg" alt="logo">
    </div>
    <div class="nav-links-container">
        <div class="nav-item" (click)="toggleNavItem($event)">
             Dashboard
             <img src="../../assets/down-arrow.png" class="down-arrow-img" alt="down-arrow">
        </div>
        <div class="nav-item-child-links">
             <div>E-commerce</div>
             <div>CRM</div>
        </div>
        <div class="nav-item" (click)="toggleNavItem($event)">
             Forms
             <img src="../../assets/down-arrow.png" class="down-arrow-img" alt="down-arrow">
        </div>
        <div class="nav-item-child-links">
          <div>Controls and validations</div>
          <div>Extended controls</div>
          <div>Layouts</div>
          <div>Forms</div>
        </div>
        <div class="nav-item">
             Tables
             <img src="../../assets/down-arrow.png" class="down-arrow-img" alt="down-arrow">
        </div>
        <div class="nav-item">
             Utilities
             <img src="../../assets/down-arrow.png" class="down-arrow-img" alt="down-arrow">
        </div>
        <div class="nav-item">
             Charts
             <img src="../../assets/down-arrow.png" class="down-arrow-img" alt="down-arrow">
        </div>
        <div class="nav-item">
             Components
             <img src="../../assets/down-arrow.png" class="down-arrow-img" alt="down-arrow">
        </div>
    </div>
</div>