.sidebar-container{
    width: 225px;
    background-color: rgba(59,134,225);
    padding: 10px;
    height: 100vh;
    .nav-links-container{
        margin-top: 75px;
        .nav-item{
            display: flex;
            justify-content: space-between;
            padding: 12px;
            cursor: pointer;
            &:hover{
                color: var(--bg-color);
            }
        }
        .nav-item-child-links{
            padding: 0 20px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            div{
                cursor: pointer;
                padding: 10px;
                &:hover{
                    color: var(--bg-color);
                }
            }
        }
    }
}

.logo{
     width: 60px;
     height: 60px;
}

.down-arrow-img{
    height: 14px;
    width: 14px;
}

.active{
    img{
        transform: rotate(180deg);
    }
}